"*":
  core:
    disabledPackages: [
      "spell-check"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "atom-light-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    invisibles: {}
    softWrap: true
  "exception-reporting":
    userId: "0f9c4bca-c1e4-c885-1374-c2dd26290ade"
  "spell-check": {}
  tabs:
    addNewTabsAtEnd: true
  welcome:
    showOnStartup: false
