Host incytde.gitlab.com
  HostName gitlab.com
  IdentityFile ~/.ssh/incytde

Host testbox.munoz.im
  IdentityFile ~/.ssh/infra@infrazeroone.pem
  User ec2-user

Host genun
  HostName 207.126.164.165
  User root
  IdentityFile ~/.ssh/genun

Host test_intra_vrip
  IdentityFile ~/.ssh/infra@infrazeroone.pem
  HostName 54.243.10.99
  User ubuntu
